---
---

@charset "utf-8";

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";


// ==========================================================
// Site-wide custom colors
// ==========================================================

html,
body {
  background: #ffffff;
}

.masthead,
.masthead__inner-wrap {
  background: #ffffff;
}

.initial-content,
.page,
.page__content {
  background: #ffffff;
}

.page__footer,
.site-footer {
  background: #ffffff;
}


// ==========================================================
// Site-wide accent color
// ==========================================================

a {
  color: #990000;
}

a:hover {
  color: #700000;
}
